<div class="main-content" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-10 mr-auto ml-auto">
        <div>
            <div class="card" data-color="primary">
                <form [formGroup]="myForm" (submit)="update(myForm)">
                    <div class="card-header text-center">
                        <h3 class="card-title">
                            Stacks
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active">
                                <div class="row justify-content-center">
                                    <div class="col-lg-10 mt-3">
                                        Name
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="form-control" readonly> {{stack.Name}} </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Description
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <input class="form-control" formControlName="description" />
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Project name
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="form-control" readonly> {{stack.ProjectName}} </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Status
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="form-control" readonly> {{stack.Status}} </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Credential
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="form-control" readonly> {{stack.AccessKeyMask}} </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Template
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <pre>{{stack.Template}}</pre>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Created
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="form-control" readonly> {{stack.CreatedAt}} </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 mt-3">
                                        Updated
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="form-control" readonly> {{stack.UpdatedAt}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="pull-right" style="margin-left: 5px;">
                            <button type="submit" class='btn btn-info'> update</button>
                        </div>
                        <div class="pull-right" style="margin-right: 5px;">
                            <button type='button' class='btn btn-danger' (click)="delete()"> delete</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
