<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card">
                    <div class="card">
                        <form [formGroup]="myForm" class="form-horizontal" (submit)="createCredential(myForm)">
                            <div class="card-header ">
                                <h4 class="card-title">New Credential</h4>
                            </div>
                            <div class="card-body">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Name
                                        </label>
                                        <div class="col-sm-12">
                                            <input class="form-control"  autocomplete="false" formControlName="name" required>

                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Description
                                        </label>
                                        <div class="col-sm-12">
                                            <input class="form-control"  autocomplete="false"  formControlName="description">
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Provider
                                        </label>
                                        <div class="col-sm-12">
                                            <select class="form-control" readonly="true">
                                                <option  value="AWS"  selected>
                                                    AWS
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Account
                                        </label>
                                        <div class="col-sm-12">
                                            <input class="form-control" autocomplete="false" formControlName="account" required>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Access Key
                                        </label>
                                        <div class="col-sm-12">
                                            <input class="form-control" autocomplete="false" formControlName="accessKey" required>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Secret Key
                                        </label>
                                        <div class="col-sm-12">
                                            <input type="password"  autocomplete="false"  class="form-control" formControlName="secretKey" required>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Project
                                        </label>
                                        <div class="col-sm-12">
                                            <select class="form-control" formControlName="projectIdByTenant">
                                                <option *ngFor="let project of projects" [value]="project.IdByTenant">
                                                    {{project.Name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill" [disabled]="myForm.invalid">
                                    Ok
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
