<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="card">
                    <div class="card">
                        <form [formGroup]="myForm" class="form-horizontal" (submit)="createProject(myForm)">
                            <div class="card-header ">
                                <h4 class="card-title">New Project</h4>
                            </div>
                            <div class="card-body">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Name
                                        </label>
                                        <div class="col-sm-12">
                                            <input class="form-control" formControlName="name" required>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            Description
                                        </label>
                                        <div class="col-sm-12">
                                            <input class="form-control" formControlName="description" required>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-info btn-fill" [disabled]="myForm.invalid">
                                    Ok
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>